# <span style=color:blue>Read tabular data from a PDF report of World Bank for doing some analysis</span>

In [3]:
import numpy as np
import pandas as pd
from tabula import read_pdf
import matplotlib.pyplot as plt

#### Open the accompanying PDF file "WDI-2016" and browse through it quickly. It is an annual report from World Bank on World Development Indicators (poverty, hunger, child mortality, social mobility, education, etc.)

#### Go to pages 68-72 to look at the tables we need toextract in this activity for analysis. They show various statistics for nations around the world.

### Define a list of page numbers to read

In [4]:
pages_to_read = [68,69,70,71,72]

### Create a list of column names. This will not be extracted by the PDF reader correctly, so we need to manually use it later.

#### Look at the pages 68-72 and come up with these variable names. Use your own judgment.

In [6]:
column_names = ['Country','Population','Surface area','Population density','Urban pop %',
                'GNI Atlas Method (Billions)','GNI Atlas Method (Per capita)','Purchasing power (Billions)',
                'Purchasing power (Per capita)','GDP % growth', 'GDP per capita growth']

### Test a PDF table extraction by using the `read_pdf` function from Tabula

* **You can read details on this library here: https://github.com/chezou/tabula-py**
* **You may have to set `multiple_tables=True` in this case**

In [7]:
lst_tbl1=read_pdf("WDI-2016.pdf",pages=70,multiple_tables=True)

### If you have done previous step correctly, you should get a simple list back. Check its length and contents. Do you see the table (as a Pandas DataFrame) in the list?

In [8]:
len(lst_tbl1)

2

In [9]:
lst_tbl1[0]

,0,1,2,3,4
0,Population,Surface,Population,Urban,Gross national income Gross domestic
1,NaN,area,density,population,productAtlas method Purchasing power parity
2,NaN,thousand,people,% of total,Per capita Per capita Per capita
3,millions,sq. km,per sq. km,population,$ billions $ $ billions $ % growth % growth
4,2014,2014,2014,2014,2014 2014 2014 2014 2013–14 2013–14

In [10]:
lst_tbl1[1]

,0,1,2,3,4,5,6,7,8,9,10
0,Italy,60.8,301.3,207,69,"2,102.2","34,580","2,155.2","35,450",–0.4,–1.4
1,Jamaica,2.7,11.0,251,55,14.0,"5,150",23.5,"8,640",0.7,0.5
2,Japan,127.1,378.0,349,93,"5,339.1","42,000","4,846.7","38,120",–0.1,0.1
3,Jordan,6.6,89.3,74,83,34.1,"5,160",78.7,"11,910",3.1,0.8
4,Kazakhstan,17.3,"2,724.9",6,53,204.8,"11,850",375.3,"21,710",4.4,2.9
5,Kenya,44.9,580.4,79,25,58.1,"1,290",131.8,"2,940",5.3,2.6
6,Kiribati,0.1,0.8,136,44,0.3,"2,950",0.4a,"3,340a",3.7,1.9
7,"Korea, Dem. People’s Rep.",25.0,120.5,208,61,..,..j,..,..,..,..
8,"Korea, Rep.",50.4,100.3,517,82,"1,365.8","27,090","1,697.0","33,650",3.3,2.9
9,Kosovo,1.8,10.9,167,..,7.3,"3,990",17.0a,"9,300a",1.2,0.9
10,Kuwait,3.8,17.8,211,98,185.0,"49,300",299.7,"79,850",–1.6,–5.8
11,Kyrgyz Republic,5.8,199.9,30,36,7.3,"1,250",18.8,"3,220",3.6,1.5
12,Lao PDR,6.7,236.8,29,38,11.1,"1,660",33.8,"5,060",7.5,5.8
13,Latvia,2.0,64.5,32,67,30.4,"15,250",46.6,"23,360",2.4,3.3
14,Lebanon,4.5,10.5,444,88,45.6,"10,030",80.0a,"17,590a",2.0,0.8
15,Lesotho,2.1,30.4,69,27,2.8,"1,330",6.6,"3,150",3.6,2.4
16,Liberia,4.4,111.4,46,49,1.6,370,3.1,700,0.7,–1.7
17,Libya,6.3,"1,759.5",4,78,49.0,"7,820",100.1a,"16,000a",–24.0,–23.9
18,Liechtenstein,0.0k,0.2,233,14,..,..e,..,..,..,..
19,Lithuania,2.9,65.3,47,67,45.2,"15,410",77.4,"26,390",3.0,3.9
20,Luxembourg,0.6,2.6,215,90,42.3,"75,960",36.5,"65,570",4.1,1.6
21,"Macedonia, FYR",2.1,25.7,82,57,10.7,"5,150",27.3,"13,170",3.8,3.6
22,Madagascar,23.6,587.3,41,34,10.4,440,33.0,"1,400",3.3,0.5
23,Malawi,16.7,118.5,177,16,4.2,250,13.2,790,5.7,2.5
24,Malaysia,29.9,330.8,91,74,332.5,"11,120",740.8,"24,770",6.0,4.4
25,Maldives,0.4,0.3,"1,337",44,2.6,"6,410",4.4,"10,920",6.5,4.4
26,Mali,17.1,"1,240.2",14,39,11.0,650,25.8,"1,510",7.2,4.1
27,Malta,0.4,0.3,"1,336",95,8.9,"21,000",11.6,"27,390",2.9,1.9
28,Marshall Islands,0.1,0.2,294,72,0.2,"4,390",0.2a,"4,700a",–1.0,–1.2
29,Mauritania,4.0,"1,030.7",4,59,5.0,"1,270",14.7,"3,710",6.4,3.8
30,Mauritius,1.3,2.0,621,40,12.1,"9,630",22.9,"18,150",3.6,3.4
31,Mexico,125.4,"1,964.4",65,79,"1,237.5","9,870","2,111.2","16,840",2.2,0.9
32,"Micronesia, Fed. Sts.",0.1,0.7,149,22,0.3,"3,200",0.4a,"3,590a",–3.4,–3.7
33,Moldova,3.6p,33.9,124p,45,9.1p,"2,560p",19.6p,"5,500p",4.6p,4.7p
34,Monaco,0.0k,0.0f,"18,812",100,..,..e,..,..,..,..
35,Mongolia,2.9,"1,564.1",2,71,12.5,"4,280",32.4,"11,120",7.8,5.9
36,Montenegro,0.6,13.8,46,64,4.5,"7,320",9.5,"15,250",1.8,1.7
37,Morocco,33.9,446.6,76,60,105.8q,"3,070q",251.5q,"7,290q",2.4q,1.0q
38,Mozambique,27.2,799.4,35,32,16.4,600,30.3,"1,120",7.2,4.3
39,Myanmar,53.4,676.6,82,34,68.1,"1,270",..,..,8.5,7.6
40,Namibia,2.4,824.3,3,46,13.5,"5,630",23.6,"9,810",6.4,3.9
41,Nepal,28.2,147.2,197,18,20.6,730,68.0,"2,410",5.4,4.1
42,Netherlands,16.9,41.5,501,90,874.6,"51,860",824.1,"48,860",1.0,0.6
43,New Caledonia,0.3,18.6,15,70,..,..e,..,..,..,..
44,New Zealand,4.5,267.7,17,86,185.2,"41,070",163.3,"36,200",3.0,1.5
45,Nicaragua,6.0,130.4,50,58,11.3,"1,870",28.8,"4,790",4.7,3.5
46,Niger,19.1,"1,267.0",15,18,7.8,410,17.4,910,6.9,2.7

### It looks like that the 2nd element of the list is the table we want to extract. Let's assign it to a DataFrame and check first few rows using `head` method

In [11]:
df = lst_tbl1[1]

In [12]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Italy,60.8,301.3,207,69,"2,102.2","34,580","2,155.2","35,450",–0.4,–1.4
1,Jamaica,2.7,11.0,251,55,14.0,"5,150",23.5,"8,640",0.7,0.5
2,Japan,127.1,378.0,349,93,"5,339.1","42,000","4,846.7","38,120",–0.1,0.1
3,Jordan,6.6,89.3,74,83,34.1,"5,160",78.7,"11,910",3.1,0.8
4,Kazakhstan,17.3,"2,724.9",6,53,204.8,"11,850",375.3,"21,710",4.4,2.9

### You should observe that the column headers are just numbers. Here, we need to use the defined list of variables we created earlier. Assign that list as column names of this DataFrame.

In [13]:
df.columns = column_names

In [14]:
df.head()

,Country,Population,Surface area,Population density,Urban pop %,GNI Atlas Method (Billions),GNI Atlas Method (Per capita),Purchasing power (Billions),Purchasing power (Per capita),GDP % growth,GDP per capita growth
0,Italy,60.8,301.3,207,69,"2,102.2","34,580","2,155.2","35,450",–0.4,–1.4
1,Jamaica,2.7,11.0,251,55,14.0,"5,150",23.5,"8,640",0.7,0.5
2,Japan,127.1,378.0,349,93,"5,339.1","42,000","4,846.7","38,120",–0.1,0.1
3,Jordan,6.6,89.3,74,83,34.1,"5,160",78.7,"11,910",3.1,0.8
4,Kazakhstan,17.3,"2,724.9",6,53,204.8,"11,850",375.3,"21,710",4.4,2.9

### Next, write a loop to create such DataFrames by reading data tables from the pages 68-72 of the PDF file. You can store those DataFrames in a list for concatenating later.

In [16]:
# Empty list to store DataFrames
list_of_df = []
# Loop for reading tables from the PDF file page by page
for pg in pages_to_read:
    lst_tbl=read_pdf("WDI-2016.pdf",pages=pg,multiple_tables=True)
    df = lst_tbl[1]
    df.columns=column_names
    list_of_df.append(df)
    print("Finished processing page: {}".format(pg))

Finished processing page: 68
Finished processing page: 69
Finished processing page: 70
Finished processing page: 71
Finished processing page: 72

### Examine individual DataFrames from the list. Does the last DataFrame look alright?

In [18]:
list_of_df[4]

,Country,Population,Surface area,Population density,Urban pop %,GNI Atlas Method (Billions),GNI Atlas Method (Per capita),Purchasing power (Billions),Purchasing power (Per capita),GDP % growth,GDP per capita growth
0,Tanzania,51.8,947.3,59,31,46.4t,920t,126.3t,"2,510t",7.0t,3.6t
1,Thailand,67.7,513.1,133,49,391.7,"5,780","1,006.9","14,870",0.9,0.5
2,Timor-Leste,1.2,14.9,82,32,3.2,"2,680",6.2a,"5,080a",7.0,4.2
3,Togo,7.1,56.8,131,39,4.0,570,9.2,"1,290",5.7,2.9
4,Tonga,0.1,0.8,147,24,0.4,"4,260",0.6a,"5,270a",2.1,1.7
5,Trinidad and Tobago,1.4,5.1,264,9,27.2,"20,070",43.3,"31,970",0.8,0.4
6,Tunisia,11.0,163.6,71,67,46.5,"4,230",121.2,"11,020",2.7,1.7
7,Turkey,75.9,783.6,99,73,822.4,"10,830","1,485.2","19,560",2.9,1.7
8,Turkmenistan,5.3,488.1,11,50,42.5,"8,020",77.1a,"14,520a",10.3,8.9
9,Turks and Caicos Islands,0.0k,1.0,36,92,..,..e,..,..,..,..
10,Tuvalu,0.0k,0.0f,330,59,0.1,"5,720",0.1a,"5,410a",2.0,1.8
11,Uganda,37.8,241.6,188,16,25.3,670,65.0,"1,720",4.8,1.5
12,Ukraine,45.4,603.6,78,69,152.1,"3,560",366.2,"8,560",–6.8,–0.8
13,United Arab Emirates,9.1,83.6,109,85,405.2,"44,600",615.3,"67,720",4.6,4.0
14,United Kingdom,64.6,243.6,267,82,"2,801.5","43,390","2,550.1","39,500",2.9,2.3
15,United States,318.9,"9,831.5",35,81,"17,611.5","55,230","17,823.2","55,900",2.4,1.6
16,Uruguay,3.4,176.2,20,95,55.9,"16,350",69.1,"20,220",3.5,3.1
17,Uzbekistan,30.8,447.4,72,36,64.3,"2,090",179.4a,"5,830a",8.1,6.3
18,Vanuatu,0.3,12.2,21,26,0.8,"3,160",0.8a,"3,030a",2.3,0.0
19,"Venezuela, RB",30.7,912.1,35,89,373.3,"12,500i",535.7,"17,700",–4.0,–5.3
20,Vietnam,90.7,331.0,293,33,171.9,"1,890",485.2,"5,350",6.0,4.9
21,Virgin Islands (U.S.),0.1,0.4,298,95,..,..e,..,..,..,..
22,West Bank and Gaza,4.3,6.0,713,75,13.1,"3,060",21.5,"5,000",–1.5,–4.3
23,"Yemen, Rep.",26.2,528.0,50,34,33.3,"1,300",93.3,"3,650",4.2,1.5
24,Zambia,15.7,752.6,21,40,26.4,"1,680",57.9,"3,690",6.0,2.8
25,Zimbabwe,15.2,390.8,39,33,12.8,840,25.2,"1,650",3.8,1.5
26,World,"7,259.7 s","134,325.3 s",56 w,53 w,"78,399.9 t","10,799 w","108,477.1 t","14,942 w",2.5 w,1.3 w
27,East Asia & Pacific,"2,264.1","24,825.2",93,56,"22,032.5","9,731","33,741.6","14,903",3.6,2.9
28,Europe & Central Asia,902.0,"28,460.4",33,71,"22,932.5","25,425","26,001.8","28,827",1.4,1.2
29,Latin America & Caribbean,626.3,"20,425.3",31,80,"6,207.5","9,912","9,535.7","15,226",1.3,0.2
30,Middle East & North Africa,417.5,"11,370.8",37,64,"3,570.2","8,722","7,267.2","17,754",2.5,0.5
31,North America,354.5,"19,816.2",19,81,"19,452.6","54,879","19,406.4","54,748",2.4,1.6
32,South Asia,"1,721.2","5,136.2",361,33,"2,575.3","1,496","9,118.9","5,298",6.9,5.5
33,Sub-Saharan Africa,974.3,"24,291.1",41,37,"1,603.7","1,646","3,309.3","3,396",4.4,1.6
34,Low income,622.0,"14,455.8",47,30,390.3,628,977.0,"1,571",6.3,3.5
35,Lower middle income,"2,878.5","20,523.3",142,39,"5,807.5","2,018","17,275.3","6,002",5.7,4.1
36,Upper middle income,"2,360.8","41,620.9",58,62,"18,712.6","7,926","33,583.2","14,225",4.5,3.7
37,High income,"1,398.4","57,725.3",25,81,"53,561.2","38,301","56,961.0","40,732",1.7,1.3

### Concetenate all the DataFrames in the list into a single DataFrame so that we can use it for further wrangling and analysis.

* Check the shape of the DataFrame. It should show 226 entries in total with 11 columns.

In [22]:
df = pd.concat(list_of_df,axis=0)

In [23]:
df.shape

(226, 11)

In [24]:
df.head()

,Country,Population,Surface area,Population density,Urban pop %,GNI Atlas Method (Billions),GNI Atlas Method (Per capita),Purchasing power (Billions),Purchasing power (Per capita),GDP % growth,GDP per capita growth
0,Afghanistan,31.6,652.9,48,26,21.4,680,63.2a,"2,000a",1.3,–1.7
1,Albania,2.9,28.8,106,56,12.9,"4,450",31.8,"10,980",2.2,2.3
2,Algeria,38.9,"2,381.7",16,70,213.8,"5,490",540.5,"13,880",3.8,1.8
3,American Samoa,0.1,0.2,277,87,..,..b,..,..,..,..
4,Andorra,0.1,0.5,155,86,3.3,"43,270",..,..,–0.1,4.4

### Is the Data set clean and ready to be analyzed? 
* **Are there missing entries? How to handle them?**
* **Are there entries not specific to countries but regions? Do we need them here or can they be copied to another data set?**

#### As with any real-world example, this data set also needs further wrangling and cleaning before it can be used in an analytics pipeline. Those will not be discussed here but you can try on your own how to extract beautiful plots and insights from this dataset by using your data wrangling skills!